.wrapper {
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .select-option {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
        }
        .action {
            display: flex;
            align-items: center;
        }
        .add {
            margin-top: -6px;
            margin-left: 10px;
        }
    }

    .modal {
        .student {
            .student-name {
                font-weight: 900;
            }
            .item-score {
                display: flex;
                align-items: center;
                margin: 10px 0;
                .score-name {
                    width: 40%;
                }
                input {
                    width: 15%;
                    border: 1px solid #ccc;
                    border-radius: 4px;
                    padding: 2px;

                    &:focus {
                        border: 1px solid #333;
                    }
                }
            }
        }
    }
}
