.wrapper {
    width: 100%;
    height: calc(100vh - 80px);
    background-color: #04426b;
    color: var(--white-color);
    box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.1);
    padding: 10px;
    transition: all 1s ease;

    .logo-icon {
        cursor: pointer;
    }
}
