.wrapper {
    width: 1200px;
    max-width: 100%;
    margin: 20px auto;

    .body {
        width: 100%;
        display: flex;
        column-gap: 20px;
        .head {
            font-weight: 900;
            margin-bottom: 20px;
        }

        .table-result {
            flex-grow: 1;
            flex-basis: 300;
        }
        .table-scores {
            flex-grow: 4;
            flex-basis: 900px;
        }
        .datarow {
            font-size: 1.6rem;
        }
    }
}

@media screen and (max-width: 768px) {
    .wrapper {
        .body {
            flex-direction: column;
            align-items: center;
            row-gap: 20px;
            .item {
                width: 70%;
            }
        }
    }
}

@media screen and (max-width: 480px) {
    .wrapper {
        .body {
            .table-scores {
                width: 100%;

                .datarow {
                    font-size: 1.2rem;
                }
            }
        }
    }
}
